@import './base.scss';

header {
  nav {
    display: flex;
    background: #274546;
    a {
      padding: 20px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background: transparent;
      transition: 100ms ease-in;
      color: #ffffff;
      &.router-link-active, &:hover {
        background: #609697;
      }
      &:visited {
        color: #ffffff;
      }
    }
  }
}

main {
  height: 100vh;
  width: 90%;
  margin:auto;
  padding: 20px 0;
  transition: all 300ms;
}


@media (min-width: 900px) {
  main {
    width: 50%;
  }
}